#div1{
   background-color: red;
   height: 400px;
   width: 400px;
   color:aliceblue;
   text-align: start;
   font-size:40px;
  
}

#div1:hover{
    background-color:rgb(10, 231, 106);
    text-align: center;
    color:cadetblue;
 
    
}

#div2{
   background-color: red;
   height: 400px;
   width: 400px;
   color:aliceblue;
   text-align: start;
   font-size:40px;
    button{
    position: relative;
    top: 40px;
    left: 50px;
    border: 5px solid green;
    border-radius: 10px;
    color: brown;
    font-size:medium;
   }
  
}
#div2:hover{
    background-color:rgb(10, 231, 106);
    text-align: center;
    color:cadetblue;
 
}
