body{
    text-align: center;
    max-width: 600px;
    text-align-last: center;
    margin: 0px;
    padding: 0px;
    margin: 100px;
    
}
nav{

    font-family:monospace;
    font-size: 2rem;
    align: center;
    border: 1px solid black;

}

h2{
    background-color: gold;
}

li{
   border-top: 1px solid black;
    list-style-type: none;
}

a{  align:center;
    display:block;
    color: black;
    text-decoration: none;


}

li:hover{
    
    background-color: black;
    

}