body{
    background-color:rgb(231, 227, 227);
}
.div1{
    height: 50px;
    width: 50px;
    border: 5px solid white;
    border-left: 5px solid purple;
    border-radius: 50%;
    animation:animation 2s ease-in-out 0s infinite normal;
    img{
        height:50px;
        width: 50px;
        border-radius: 50%;
    }
  
    
}

.div2{   
  
    border-radius: 50%;
    animation: animation 2s ease-in-out 0s infinite normal;

}

@keyframes animation{
    from{
        transform: rotate(0deg);
    }

    to{
        transform: rotate(360deg);
    }

}