#div1{
    height: 200px;
    width: 200px;
    background-color: greenyellow;


}

#div2{
    height: 100px;
    width: 50px;
    background-color:burlywood;
}

@media (max-width:300px){
    div{
        background-color:blue;
    }
}
    
@media (min-width: 200px){
    div{
        background-color:cadetblue; 
    }
}


    
