body{
    background-color: aqua;
    
}

.header{
    display: flex;
    align-content:center;
    align-items: center;
}
.div1{
    height: 200px;
    width: 200px;
    background-color: aquamarine;
}

div{
    height: 100px;
    width: 100px;
}
